@import '~../default/fonts.css';
@import '~../default/icons.css';
@import '~../default/forms.css';
@import '~../default/loading.css';
@import '~../default/error-reporter.css';
@import '~../default/header.css';
@import '~../default/settings-menu.css';
@import '~../default/menu/about.css';
@import '~../default/sections/onboarding.css';
@import '~../default/sections/categories.css';
@import '~../default/sections/duplicates.css';
@import '~../default/sections/about.css';
@import '~../default/sections/reports/account-summary.css';
@import '~../default/sections/reports/search-summary.css';

:root {
    --wells-received-color: #00CA62;
    --wells-saved-color: #FFFFFF;
    --charts-lines-color: #6792D8;
    --charts-axis-color: #FFFFFF;
}

body {
    color: #717171;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

input[type='checkbox']:not(:checked) {
    background-color: white;
}

input[type='checkbox']:not(:checked)::after {
    background-color: #555555;
}

.c3-tooltip-container {
    color: black;
}

#content {
    background-color: #54575C;
    color: #F9FCFE;
}

header,
main nav {
    background-color: #2D2C2C;
    color: #FFFFFF;
}

main nav {
    border: 0;
}

table caption {
    color: inherit;
    background-color: #444444;
}

table:not(.no-hover) > tbody > tr:hover {
    background-color: #4A4949;
}

table.striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #3C3C3C;
}

.tabs-container-selector li a {
    color: white;
}

.tabs-container-selector li a.active {
    color: #444444;
    background-color: white;
    border-color: white;
}

.tabs-container-selector li a:not(.active):hover {
    background-color: #444444;
}

.alerts {
    background-image: none !important;
}

.btn.transparent {
    color: #E9E9E9;
}

.btn.transparent:hover {
    color: white;
}

.btn:hover {
    text-decoration: none;
}

.input-with-addon > .btn:hover {
    background-color: #444444;
    color: #FFFFFF;
}

.sidebar-section-list li {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}

main nav .bank-details .icon {
    height: 48px;
    width: 48px;
    border-radius: 0;
    border: 2px solid #CBCBCB;
    margin-left: 0;
}

main nav .bank-details .bank-name {
    color: #FFFFFF;

    /* 50px (icon) + 8px (margin) */
    width: calc(100% - 58px);
}

main nav .bank-details .bank-name button {
    color: inherit;
    text-align: left;
}

main nav .bank-details .bank-name .bank-sum {
    color: #C5C6C9;
}

main nav .bank-details > li {
    border: none;
}

main nav .bank-details > li.active .bank-name,
main nav .bank-details > li .bank-name button:hover,
main nav .bank-details > li .bank-name button:focus {
    color: #6792D8;
}

main nav .bank-details > li.active .bank-name button:hover,
main nav .bank-details > li.active .bank-name button:focus {
    color: white;
}

main nav .bank-details > li > .accounts {
    margin-left: 0;
}

main nav .bank-details .amount.positive {
    color: var(--wells-received-color);
}

main nav .bank-details > li > .accounts > li {
    margin-bottom: 1px;
}

main nav .bank-details > li > .accounts > li a {
    border-left: 4px solid #6792D8;
    color: #C5C6C9;
}

main nav .bank-details > li > .accounts > li a:hover,
main nav .bank-details > li > .accounts > li a:focus {
    background-color: rgba(255, 255, 255, 0.25);
    border-left-color: #242491;
    color: #FFFFFF;
}

main nav .bank-details > li > .accounts > li a.active {
    background-color: #6792D8;
    border-left-color: transparent;
    color: white;
}

main nav .bank-details > li > .accounts > li a.active .amount.positive {
    color: white;
}

main nav .bank-details > li > .accounts > li a.active .amount.negative {
    color: #F5A4A4;
}

.sidebar-section-list {
    border-top: 1px solid #C9CBD0;
    padding-top: 15px;
}

.sidebar-list > ul > li,
.sidebar-section-list li > a {
    color: white;
}

.sidebar-section-list li > a:hover,
.sidebar-section-list li > a:focus {
    background-color: #3B3B3B;
}

.sidebar-section-list li > a.active {
    /* Add a border so there is a distinction between an active item and
    an item with :hover/:focus */
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
}

.sidebar-section-list li > a.active,
.sidebar-section-list li .badge {
    background: #6792D8;
    color: white;
}

.sidebar-section-list li > a.active .badge {
    color: #6792D8;
    background-color: white;
}

.sidebar-about a {
    color: inherit;
}

.account-summary {
    color: var(--wells-balance-color);
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-left: 5.5em;
}

.account-summary .icon {
    float: none;
    margin: 0;
    border-radius: 0;
    background-color: var(--wells-balance-color);
    color: white;
    display: flex;
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.operation-toolbar ul {
    background-color: transparent;
}

.search-summary li {
    border: 1px solid currentColor;
}

.search-summary li.received {
    color: var(--wells-received-color);
    background-color: transparent;
}

.search-summary li.spent {
    color: var(--wells-spent-color);
    background-color: transparent;
}

.search-summary li.saved {
    color: var(--wells-saved-color);
    background-color: transparent;
}

.operation-table caption {
    display: none;
}

.operation-table thead th {
    border-top: none;
}

.operation-table td {
    vertical-align: middle;
}

.operation-table {
    border: 0;
}

.operation-table th,
.operation-table td {
    border-left: 0;
    border-right: 0;
    border-color: #444444;
}

.operation-table tr:nth-last-child(2) td {
    border: 0;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #00BFF3;
}

.operation-table td.modale-button > button {
    color: inherit;
}

/* Charts */
#barchart {
    color: black;
}

.support-about li {
    border-color: #6792D8;
}

.support-about li span.label {
    background-color: #6792D8;
}

.about a {
    color: #6792D8;
}

/* Modales */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Content {
    border-color: black !important;
    background-color: #444444 !important;
    color: white;
}

.ReactModal__Content input,
.ReactModal__Content select,
.ReactModal__Content .Select-control {
    background-color: white;
}

.modal-body .cols-with-label input,
.modal-body .cols-with-label select,
.modal-body .cols-with-label .Select {
    color: #555555;
}

#loading-overlay {
    background-color: #444444;
}

#loading-overlay > .loading-message,
#loading-overlay > .loading-message h3 {
    background-color: transparent;
}

#loading-overlay > .loading-message h3 {
    color: #F1F1F1;
}
