@import '~../default/fonts.css';
@import '~../default/icons.css';
@import '~../default/forms.css';
@import '~../default/loading.css';
@import '~../default/error-reporter.css';
@import '~../default/header.css';
@import '~../default/settings-menu.css';
@import '~../default/menu/about.css';
@import '~../default/modals.css';
@import '~../default/sections/onboarding.css';
@import '~../default/sections/categories.css';
@import '~../default/sections/duplicates.css';
@import '~../default/sections/about.css';
@import '~../default/sections/reports/account-summary.css';
@import '~../default/sections/reports/search-summary.css';

body {
    color: #717171;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

header {
    background-color: #494F59;
}

#content {
    background: #FFFFFF;
}

main nav {
    background-color: #F5F6F7;
    border-right: 1px solid #D6D8DA;
    color: #444444;
}

table caption {
    background-color: transparent;
}

main nav .sidebar-section-list li span.badge {
    background-color: #494C59;
    color: #E4E4E4;
}

.alerts {
    background-image: none !important;
}

main nav .bank-details .icon {
    height: 48px;
    width: 48px;
    border-radius: 0;
    border: 2px solid #CBCBCB;
    margin-left: 0;
}

main nav .bank-details .bank-name {
    color: inherit;

    /* 50px (icon) + 8px (margin) */
    width: calc(100% - 58px);
}

main nav .bank-details .bank-name button {
    color: inherit;
    text-align: left;
}

main nav .bank-details .bank-name .bank-sum {
    color: #898A8E;
}

main nav .bank-details > li {
    border: none;
}

main nav .bank-details > li.active .bank-name,
main nav .bank-details > li .bank-name button:hover,
main nav .bank-details > li .bank-name button:focus {
    color: #6792D8;
}

main nav .bank-details > li.active .bank-name button:hover,
main nav .bank-details > li.active .bank-name button:focus {
    color: #444444;
}

main nav .bank-details > li > .accounts {
    margin-left: 0;
}

main nav .bank-details > li > .accounts > li {
    margin-bottom: 1px;
}

main nav .bank-details a {
    color: inherit;
}

main nav .bank-details .amount.positive {
    color: #0D59D2;
}

main nav .bank-details .amount.negative {
    color: #F26C4F;
}

main nav .bank-details > li > .accounts > li a {
    border-left: 4px solid #CECECE;
    color: inherit;
}

main nav .bank-details > li > .accounts > li a:hover,
main nav .bank-details > li > .accounts > li a:focus {
    border-left-color: #6792D8;
    background-color: #E4E4E4;
}

main nav .bank-details > li > .accounts > li a.active {
    background-color: #6792D8;
    border-left-color: transparent;
    color: white;
}

main nav .bank-details > li > .accounts > li a.active:hover,
main nav .bank-details > li > .accounts > li a.active:focus {
    border-left-color: #5959D4;
}

main nav .bank-details > li > .accounts > li a.active .amount.positive {
    color: white;
}

main nav .bank-details > li > .accounts > li a.active .amount.negative {
    color: #F5A4A4;
}

.sidebar-section-list {
    border-top: 1px solid #C9CBD0;
    padding-top: 15px;
}

.sidebar-section-list li {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}

.sidebar-section-list li > a {
    color: #7F8081;
}

.sidebar-section-list li > a:hover,
.sidebar-section-list li > a:focus {
    background-color: #E4E4E4;
    color: #3E3E3E;
}

.sidebar-section-list li > a.active {
    background: #E4E4E4;
    color: #0D59D2;

    /* Add a border so there is a distinction between an active item and
    an item with :hover/:focus */
    border-top: 1px solid #F5F6F7;
    border-bottom: 1px solid #F5F6F7;
}

.sidebar-about {
    color: #000000;
}

.account-summary {
    color: var(--wells-balance-color);
    border: 1px solid currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-left: 5.5em;
}

.account-summary .icon {
    float: none;
    margin: 0;
    border-radius: 0;
    background-color: var(--wells-balance-color);
    color: white;
    display: flex;
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.operation-toolbar {
    border-color: #CFD9DB;
    border-radius: 3px;
}

.operation-toolbar ul {
    background-color: transparent;
}

.operation-toolbar > form {
    border-top-color: #CFD9DB;
}

.search-summary li {
    border: 1px solid currentColor;
}

.search-summary li.received {
    color: var(--wells-received-color);
    background-color: transparent;
}

.search-summary li.spent {
    color: var(--wells-spent-color);
    background-color: transparent;
}

.search-summary li.saved {
    color: var(--wells-saved-color);
    background-color: transparent;
}

.operation-table {
    border: 0;
}

.operation-table caption {
    display: none;
}

.operation-table thead th {
    border-top: none;
}

.operation-table td {
    vertical-align: middle;
}

.operation-table th,
.operation-table td {
    border-left: 0;
    border-right: 0;
}

.operation-table tr:nth-last-child(2) td {
    border: 0;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #38BD13;
}

@media (max-width: 620px) {
    .operation-table th,
    .operation-table td {
        padding-left: 5px;
        padding-right: 5px;
    }
}
