@import '~./fonts.css';
@import '~./icons.css';
@import '~./forms.css';
@import '~./loading.css';
@import '~./error-reporter.css';
@import '~./header.css';
@import '~./settings-menu.css';
@import '~./menu/banks.css';
@import '~./menu/sections.css';
@import '~./menu/about.css';
@import '~./modals.css';
@import '~./sections/onboarding.css';
@import '~./sections/categories.css';
@import '~./sections/duplicates.css';
@import '~./sections/about.css';
@import '~./sections/reports/reports.css';
@import '~./sections/reports/account-summary.css';
@import '~./sections/reports/search-summary.css';

body {
    color: #717171;
    background: #3D424C;
}

a,
a:hover,
a:focus {
    color: #337AB7;
    text-decoration: none;
    outline: 0;
}

#content {
    background: #FFFFFF;
}

main nav {
    background-color: #2B303A;
    color: white;
}
